/* src/styles/login-page.css */

.login-page-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

.login-page-background .form-container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}