.header {
  width: 100%;  
  padding: 0.5rem 4.5rem ;
  background: #fdfeff; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
   
}

.header__brand,
.header__center-nav-wrapper,
.header__nav-actions {
  padding: 0 ;
  
}


.header__brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: start;
  transition: var(--transition-fast);
  margin-right: 100px;
}

.header__logo {
  height: 27px;
  width: auto;

}
.header__brand-name {
  font-size: 1.55rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
  color: var(--color-text-primary);
  margin: 10px;
}
.header__center-nav-wrapper {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.header__nav-desktop {
  display: flex;
  align-items: center;
  justify-self: end;
}
.header__link {
  text-decoration: none;
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
  color: var(--color-text-secondary);
  background: none;
  border: none;
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
  transition: var(--transition-fast);
  display: flex;
  align-items: center;
  position: relative;
}

.header__link.active {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}
.header__link.active::after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  background: var(--color-primary);
  position: absolute;
  left: 13.5%;
  bottom: 0.38rem;
}
.header__nav-actions {
  display: flex;  
}


.header__link--button {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-md);
  font-weight: var(--font-weight-bold);
  padding: 0.6rem 0.5rem;
  margin-left: 0.2rem;
  transition: var(--transition-fast);
  position: relative;
}

.header__link--register {
  background: transparent;
  color: var(--color-primary);
  border: 1.7px solid var(--color-primary);
  border-radius: var(--border-radius-md);
  font-weight: var(--font-weight-bold);
  padding: 0.2rem 0.2rem;
  margin-left: 0.3rem;
  transition: var(--transition-fast);
  position: relative;
}
.header__link--register:hover,
.header__link--register:focus {
  background: rgba(139, 92, 246, 0.08);
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
.header__notifications-link {
  position: relative;
  padding-right: 1.7rem;
}
.header__notifications-link .visually-hidden {
  position: absolute;
  width: 3px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Ocultar elementos móviles */
.header__hamburger,
.header__nav-mobile,
.header__close-button {
  display: none;
}