@keyframes fadeInLeftContent {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-left-content {
  animation: fadeInLeftContent 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}